/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
  	font-family: 'Open Sans', sans-serif;
    font-size: 100%;
  	background:#ff8db2;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.wrap{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/*-- top-header --*/
.top-header{
	background:#5a0f16;
}
.top-header-left{
	float:left;
	width:40%;
}
.top-header-center{
	float: left;
	width: 20%;
	text-align: center;
	margin-top: 0.5em;
}
.top-header-right{
	float:left;
	width:40%;
}
.top-header-left ul{
	margin:0;
	padding:0;
} 
.top-header-left ul li{
	display:inline-block;
	float:left;
}
.top-header-left ul li a{
	color: #FFF;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 100;
	margin: 0 1.5em 0 0em;
	padding: 0.5em 0;
	display: block;
}
.top-header-left ul li a:hover,.top-header-left ul li.active a{
	color:#ff8db2;
}
.top-header-center p{
	color:#FFF;
	font-size: 1.1em;
	font-weight: 100;
	margin:0;
}
.top-header-center p span.cart{
	width: 20px;
	height: 24px;
	display: inline-block;
	background: url(../images/cart.png) no-repeat 0px 0px;
	vertical-align: sub;
	margin-right: 0.5em;
}
.top-header-center p label{
	color:#f84f86;
	font-weight:100;
	margin-left:0.4em;
}
.top-header-right li form{
	position: relative;
}
.top-header-right li form input[type="text"]{
	border: none;
	outline: none;
	position: relative;
	transition: linear 0.5s all;
	background: #721a23;
	    padding: 0.6em 3em 0.6em 0.6em;
	color:#FFF;
}
.top-header-right li form input[type="submit"]{
	background: url(../images/search-icon.png) no-repeat 0px 0px;
	width: 25px;
	height: 25px;
	display: inline-block;
	border: none;
	outline: none;
	position: absolute;
	right: 10px;
	top: 11px;
}
.top-header-right ul li{
	display:inline-block;
	float:left;
}
.top-header-right ul li a{
	color: #FFF;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 100;
	padding: 0 0.8em;
	margin: 0.5em 0;
	display: block;
	border-right:1px solid #FFF;
}
.top-header-right ul li:nth-child(3) a{
	border-right:none;
}
.top-header-right ul li a:hover,.top-header-right ul li.active a{
	color:#ff8db2;
}
.main-menu{
	background: #ff75af;
	padding-top: 1em;
	position: relative;
	z-index:999;
} 
.head-nav ul{
	padding: 0;
	width: 85%;
	margin: 0 auto;
	position:relative;
}
.head-nav ul li{
	display:inline-block;
}
.head-nav ul li a{
	color: #FFF;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.3em;
	text-decoration: none;
	display: block;
	padding:  1.23em 1.5em;
}
.head-nav ul li.logo_nav a{
	padding: 0;
}
.head-nav ul li a:hover,
.head-nav ul li.active a{
	color:#ff4a97;
}




.benner{
}
.img-slider{
	margin: 1.8em 0em;
	border: 10px solid #FFF;
	box-shadow: 0px 0px 10px #E47CDB;
}
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks_nav {
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	bottom: 2.6%;
	z-index: 999;
	left: 45%;
	padding: 0;
	margin: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_nav {
	position: absolute;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 28%;
	left: -6%;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 276px;
	width: 67px;
	background: transparent url("../images/arrows.png") no-repeat left top;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
 	left: auto;
	background-position: right top;
	right: -6.5%;
}
.callbacks_tabs a{
   visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:20px;
  width:20px;
  display:inline-block;
  border:2px solid #fd9cb9;
  background:#FFF;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -o-border-radius:50%;
  -ms-border-radius:50%;
}
.callbacks_here a:after{
	border:2px solid #fd9cb9;
	background:#fd9cb9;
}
.slider-caption {
	position: absolute;
	top: 0px;
	z-index: 999;
}
.slider-caption-left{
	float: left;
	width: 50%;
	margin-top: 7em;
}
.slider-caption-right{
	float: right;
	width: 48%;
	margin-top: 3em;
}
.slider-caption-right img{
	width:inherit;
}
.slider-caption-left h1{
	color: #FFF;
	font-weight: 900;
	margin: 0;
	padding: 0;
	font-size: 2.2em;
	line-height: 1.3em;
	width: 93%;
	margin: 0 auto;
}
.slider-caption-left p{
	font-weight: 100;
	color: #FFF;
	font-size: 1.4em;
	width: 80%;
	margin: 3em auto 3em;
}
a.buy-btn{
	background: rgb(78,2,5);
	background: -moz-radial-gradient(center, ellipse cover,  rgb(78,2,5) 0%, rgb(146,59,79) 50%, rgb(78,2,5) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(78,2,5)), color-stop(50%,rgb(146,59,79)), color-stop(100%,rgb(78,2,5))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e0205', endColorstr='#4e0205',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:0.7em 2em;
	color:#FFF;
	font-size:1.2em;
	text-transform:uppercase;
	text-decoration:none;
	border-radius:0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-ms-border-radius:0.3em;
	-o-border-radius:0.3em;
}
a.buy-btn:hover{
	
}
.share-on{
	background: rgba(90, 15, 22, 0.36);
	padding: 0.8em 1em 0.5em;
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index: 999;
}
.share-on-grid-left{
	float:left;
}
.share-on-grid-right{
	float:right;
}
.share-on-grid-left h3{
	color: #FFF;
	font-weight: 400;
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-weight: 100;
	line-height: 1.4em;
}
.share-on-grid-right a{
	float:left;
}
.share-on-grid-right a:hover{
	opacity:0.8;
}
.share-on-grid-right a span{
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../images/social-icons.png) no-repeat 0px 0px;
}
.share-on-grid-right a span.facebook{
	background-position: 0px 0px;
}
.share-on-grid-right a span.twitter{
	background-position: -32px 0px;
}
.share-on-grid{
	width: 18%;
	float: right;
}
.top-grids{
	position:relative;
}
.top-grid-head{
	background:url(../images/header-bg1.png) no-repeat 0px 0px;
	min-height:121px;
	text-align:center;
	background-size:cover;
}
.top-grid-head h3{
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	padding: 2.8em 0 0 0;
	display: block;
}
.top-grid-info{
	background:#a76280;
	padding:1em;
}
.top-grid-info img{
	width: 100%;
	border: 6px solid #FFF;
}
.top-grid-info p{
	color: #FFF;
	font-weight: 100;
	font-size: 1em;
	margin: 1em 0;
	text-transform: uppercase;
	line-height: 1.8em;
	letter-spacing: 0.1em;
}
.top-grid-info span{
	text-align:center;
	display:block;
	color:#FFF;
	font-weight:900;
	font-size:1.8em;
}
a.btn{
	background: rgb(78,2,5);
	background: -moz-radial-gradient(center, ellipse cover, rgb(78,2,5) 0%, rgb(146,59,79) 50%, rgb(78,2,5) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(78,2,5)), color-stop(50%,rgb(146,59,79)), color-stop(100%,rgb(78,2,5)));
	background: -webkit-radial-gradient(center, ellipse cover, rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%);
	background: radial-gradient(ellipse at center, rgb(78,2,5) 0%,rgb(146,59,79) 50%,rgb(78,2,5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e0205', endColorstr='#4e0205',GradientType=1 );
	padding: 0.7em 0em;
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	width:50%;
	margin:1em auto 0 auto;
	display:block;
}
a.btn:hover{
	color:#FFF;
}
.top-grids-bg span{
	background: url(../images/top-grid-bg.png) repeat-x 0px 0px #ff97b7;
	min-height: 585px;
	width: 100%;
	display: inline-block;
	box-shadow: 0px 0px 2px #B39494;
	position: absolute;
	top: 122px;
}
.top-grid{
	z-index:1;
}
.bottom-grid-left{
	background: #FFF;
	width: 64%;
	margin-left: 14px;
	padding: 3em 0 0em;
	position:relative;
}
.bottom-grid-left-grid img{
	padding: 0.3em;
	box-shadow: 0px 0px 2px #B8ADAD;
	-webkit-box-shadow: 0px 0px 2px #B8ADAD;
	-moz-box-shadow: 0px 0px 2px #B8ADAD;
	-o-box-shadow: 0px 0px 2px #B8ADAD;
	-ms-box-shadow: 0px 0px 2px #B8ADAD;
}
.bottom-grid-left-grid h4{
	color:#7e7e7e;
	text-transform:uppercase;
	font-size:0.875em;
	margin:0;
	padding:0.8em 0 0.5em 0;
}
.bottom-grid-left-grid p{
	color:#814b68;
	font-weight:700;
	
}
.bottom-grid-right{
	border: 2px solid #FFF;
	width: 30.7%;
	margin-left: 2em;
	padding: 1.5em 1em;
	border-radius: 0.3em;
}
.bottom-grid-right h3{
	color:#FFF;
	text-transform:uppercase;
	border-bottom:1px solid #FFF;
	padding:0 0 0.5em 0;
	margin:0 0 0.5em;
}
.bottom-grid-right h3 span.tweet{
	width:26px;
	height:23px;
	display:inline-block;
	background:url(../images/twitter-icon.png) no-repeat 0px 0px;
	vertical-align:middle;
}
.bottom-grid-right p{
	color:#FFF;
	text-transform:uppercase;
	line-height:1.8em;
	letter-spacing:0.1em;
	font-size:0.875em;
	font-weight:100;
}
.bottom-grid-right label{
	color:#7e7e7e;
	text-transform:uppercase;
	 font-weight:100;
}
.bottom-grids {
	padding:5em 0;
}
/*-- //slider --*/
span.best-sale{
	width: 175px;
	height: 37px;
	background: url(../images/best-sell-bg.png) no-repeat 0px 0px;
	display: inline-block;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 0.1em;
	padding-top: 0.35em;
	position: absolute;
	top: -14px;
	left: 37%;
}
a.order{
	width:98px;
	height:57px;
	background: url(../images/btn-bg.png) no-repeat 0px 0px;
	display: inline-block;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: 0.1em;
	padding-top: 0.35em;
	position: absolute;
	bottom:-57px;
	right: 20px;
}
a.order:hover{
	opacity:0.8;
}

/*-- footer --*/
.footer{
	background:#FFEDE9;
	padding:4em 0em 0em;
}
.footer h4 {
	font-size: 1em;
	font-weight: 700;
	color: #FC6391;
	text-transform: uppercase;
	padding: 0 0 0.5em 0;
	margin: 0 0 0.5em;
}
.footer h5{
	font-size:1.3em;
	font-weight:600;
	color:#FC6391;
	text-transform:uppercase;
	padding:0 0 0.5em 0;
	margin:0 0 0.5em;
}
.location p{
	font-size:1em;
	font-weight:400;
	color:#7F7D7E;
	text-transform:uppercase;
}
.customer p{
	font-size:0.8125em;
	font-weight:400;
	color:#7F7D7E;
	text-transform:uppercase;
	padding:0 0 0.5em 0;
	margin:0 0 0.5em;
	line-height:1.5em;
}
.customer h6{
	font-size:1em;
	font-weight:400;
	color:#7F7D7E;
	text-transform:uppercase;
	padding:0 0 0.5em 0;
	margin:0 0 0.5em;
}
.social{
	text-align:center;
}
.face-b{
	margin:1em 0em; 
	position:relative;
}
.sign form input[type="text"] {
	padding: 0.5em 0.5em;
	margin-bottom: 2%;
	width: 100%;
	background: none;
	color:#7F7D7E;
	font-size: 14px;
	outline: none;
	font-weight: 400;
	text-indent: 10px;
	border: 1px solid #FC6294;
	border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-msborder-radius: 3px;
}
.footer-top{
	padding:1em 0em 2em;
	border-bottom:1px solid #EDD2DB;
}
.footer-bottom a {
	color: #f84f86;
}
.footer-bottom p {
	color: #7D7F7C;
	font-size: 1em;
	margin:1em 0em;
}
i.fb {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(../images/social-icons-2.png) no-repeat 0px 0px;
	position: absolute;
	bottom: 0px;
	left: 130px;
}
i.fb:hover {
	opacity:0.7;
}
i.twt {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url(../images/social-icons-2.png) no-repeat -36px 0px;
	position: absolute;
	bottom: 0px;
	left: 146px;
}
i.twt:hover{
	opacity:0.7;
}
/*-- /footer --*/
/*-- about --*/
.about {
	padding: 3em 0em;
	background:#fff;
}
.about img {
	margin: 0em 0em 2em;
}
.about h3 {
	font-size: 2.5em;
	color: #5A0F16;
	padding: 1em 0;
}
.about p {
	font-size: 1em;
	font-weight:300;
	color: #7D7F7E;
	line-height: 1.8em;
	padding: 1em 0;
}
.about a {
	background: #FF3E91;
	color: #FFF;
	padding: 7px 10px;
	display: inline-block;
	font-size: 1.5em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	margin-top: 0.5em;
	text-decoration:none;
}
.about a:hover{
	background:#5a0f16;
}
/*-- /about --*/
/*--Bi seller slide Starts ---*/
.biseller-column {
	text-align: left;
	padding: 1em 1em 1.5em 2em;
	border:1px solid #FD3D90;
}
.biseller-column img{
	width: 100%;
	padding-bottom: 1em;
	border-bottom: 1px solid #DBDBDB;
}
.biseller-name h4{
	font-weight:400;
	font-size:1.3em;
	color:#000;
	margin:0 0 10px 0;
}
.biseller-name p{
	font-weight: 400;
	font-size: 1.2em;
	color: #FF3E91;
	padding: 0;
	margin: 0;
}
 #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:250px;
	max-height:500px;
}
.grid-flex{
	margin:10px 0 20px 0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}
.biseller-info {
	padding: 5em 0 3em 0 !important;
	background:#fff;
}
.biseller-info h2 {
	background: #A9415C;
	color: #fff !important;
	text-transform: uppercase;
	padding: 0 15px !important;
	font-size: 21px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 15px;
	display: inline-block;
}
.biseller-info h3 {
	background: #A9415C;
	color: #fff;
	text-transform: uppercase;
	padding: 10px;
	font-size: 21px;
	font-weight: 600;
	width: 17%;
	margin-bottom: 24px;
}
.biseller-info {
	padding: 0 0 20px 0;
	padding-bottom:4em;
	background:#fff;
}
.biseller-column{
	margin-bottom: 40px;
}
/* ** Navigation * */
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 47px;
	height: 75px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top:-2em;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/arw.png) no-repeat -15px -113px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/arw.png) no-repeat ;
}
.price-s {
	margin: 3em 0;
	text-align: left;
}
.price-s a{
	font-family: 'Doppio One', sans-serif;
	font-weight:400;
	text-transform: uppercase;
	text-decoration:none;
	font-size:1em;
	color:#987f77;
	border:2px solid #987f77;
	padding:10px 15px;
}
.price-s a:hover{
	border:2px solid #446720;
	color:#446720;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.veiw-img-mark{
	position:absolute;
	top:30%;
	left:38%;
	display: none;
}
.veiw-img-mark a{
	background: #5A0F16;
	padding: 10px;
	color: #fff;
	font-size: 0.85em;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
}
.biseller-column:hover {
	background:#fff;
	
}
.biseller-column:hover div.veiw-img-mark{
	display: block;
}
button.add2cart {
	border: none;
	padding: 0;
	outline:none;
	float: left;
	margin: 12px 0 0 0;
	position:relative;
}
button.add2cart span {
	color: #fff;
	background: #FF3E91;
	margin: 0;
	font-size: 15px;
	font-weight: 300;
	padding: 0.35em 0.6em 0.35em 1.7em;
	line-height: 2em;
}
button.add2cart span:hover {
	background: #5a0f16;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.white-cart1{
	width: 20px;
	height: 20px;
	background: url("../images/img-sprite.png") no-repeat -40px 0px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	position: absolute;
	top: 21%;
	left: 3%;
}
.biseller-info h2 {
	font-size: 2.5em;
	color: #5A0F16;
	padding: 1em 0;
}
.best-seller {
	padding: 2em 0em;
	background:#fff;
}
 /*-- contact --*/
.contact{
	margin: 0em 0 1em 0em;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.contact_info h3 {
	font-size: 2em;
	color: #5A0F16;
	padding: 0.2em 0 1em;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width: 59.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width:39.2%;
}
.span_2_of_3  h3,
.span_1_of_3  h3 {
	font-size: 1.6em;
	color: #5A0F16;
	padding:0.5em 0;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #999;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:98%;
			border: none;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			border:1px solid #FF8DB2;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	background: #FD6093;
	color: #FFF;
	padding: 5px 20px;
	display: inline-block;
	font-size: 1.5em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	margin-top: 0.2em;
	border: none;
	cursor: pointer;
	text-transform:uppercase;
}
.contact-form input[type="submit"]:hover{
	background:#5A0F16;
	color:#fff;
}
.contact-form input[type="submit"]:active{
	color:#000;
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size:1em;
	color:#7D7F7E;
	padding: 2px 0;
}
.company_address p span,.company_address p span a{
	text-decoration:underline;
	color:#FB6394;
	cursor:pointer;
}
.company_address p span:hover{
	color:#5A0F16;
}
.map{
}
.main-content {
	padding: 1em 0em 3em;
}
.content {
	background: #fff;
}
.content h2 {
	font-size: 2.5em;
	color: #5A0F16;
	padding: 1em 0 0em;
}

/*--register--*/
.register{
	padding:6em 0 5em 0;
}
.register-top-grid h3, .register-bottom-grid h3 {
	color:#5A0F16;
	font-size: 1.2em;
	padding-bottom: 15px;
	margin: 0;
	font-weight: 600;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#999;
	font-size: 0.85em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}

.register-top-grid input[type="Password"], .register-bottom-grid input[type="Password"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF5B36;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: left;
	position: relative;
	font-size: 0.85em;
	color:#555;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #FF8DB2;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#FB6394;
	color: #FFF;
	font-size: 1.2em;
	padding: 0.6em 2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#5A0F16;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*--login--*/
.login-left {
	padding: 0;
}
.login-left h3, .login-right h3 {
	color:#5A0F16;
	font-size: 1.2em;
	padding-bottom: 0.5em;
	font-weight:600;
}
.login-left p, .login-right p {
	color: #868583;
	display: block;
	font-size: 0.875em;
	margin: 0 0 2em 0;
	line-height: 1.8em;
}
.acount-btn {
	background: #FF6392;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#5A0F16;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #999;
	font-size:0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#FF6392;
	width: 96%;
	font-size:0.8125em;
	padding: 0.5em;
}
.login-right input[type="submit"] {
	background: #FF6392;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 0.875em;
	margin-right: 11px;
	color:#999;
}
ul.breadcrumbs{
	padding:0;
	list-style:none;
	float:left;
}
ul.breadcrumbs li{
	display:inline-block;
	font-size:1.1em;
	color:#000;
}
ul.breadcrumbs li.women{
	background:#5BBD50;
	padding:3px;
}
ul.previous{
	padding:0;
	list-style:none;
	float:right;
}
ul.previous li a{
	color:#999;
	font-size:1.1em;
}
.dreamcrub{
	margin:2em 0 5em 0;
	font-family: 'Roboto', sans-serif;
}
.mens-toolbar {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float:right;
	padding:0;
	list-style:none;
}
.pages{
	float:right;
}
.pages .limiter {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:4px 8px;
	text-decoration: none;
	font-size: 0.8125em;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#26d2fc;
	color:#fff;
}
ul.women_pagenation li a:hover{
	background:#26d2fc;
	color:#fff;
}
.login-page {
	padding: 7em 0;
} 
/*--account--*/
.span_1_of_account{
	width: 47.2%;
}
.col_1_of_account {
	display: block;
	float: left;
	margin: 1% 0 1% 4.6%;
}
.col_1_of_account:first-child {
	margin-left: 0;
}
h4.title {
	color: #5A0F16;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	line-height: 1.2;
	text-transform: uppercase;
}
.span_1_of_account p {
	color:#999;
	font-size:0.8125em;
	line-height: 1.8em;
}
h5.sub_title{
	color:#FE6194;
	font-size:0.8125em;
	text-transform:uppercase;
	margin: 3% 0;
}
.button1 {
	margin-top:3%;
}
.button1 input[type="submit"] {
	background: #FE6194;
	color: #FFF;
	font-size: 0.8em;
	padding: 8px 20px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border: none;
	float: left;
}

.login{
	padding:3% 0;
}
.comments-area input[type="text"] {
	padding: 10px 15px;
	width: 97%;
	color:#000;
	font-size: 0.8125em;
	border:1px solid #f0f0f0;
	background:#fff;
	outline: none;
	display: block;
}
.comments-area input[type="text"]:hover, .comments-area input[type="password"]:hover{
	border:1px solid #FE6194;
}
.comments-area input[type="password"] {
	padding: 10px 15px;
	width: 97%;
	color:#000;
	font-size: 0.8125em;
	border:1px solid #f0f0f0;
	background:#fff;
	outline: none;
	display: block;
	font-family: 'Open Sans', sans-serif;
}
.comments-area span {
	color: #A60000;
}
.comments-area p {
	padding: 8px 0;
}
.comments-area input[type="submit"] {
	background: #FE6194;
	color: #FFF;
	font-size: 0.8em;
	padding: 8px 20px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border: none;
	float: right;
}
.comments-area input[type="submit"]:hover{
	background:#5A0F16;
}
p#account-form-remember{
	float:left;
}
p#account-form-remember label a {
	text-decoration: underline;
	color:#999;
}
p#account-form-remember label a:hover{
	text-decoration:none;
}
.col_1_of_2 {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.span_1_of_2 {
	width: 49.2%;
}
.col_1_of_2:first-child {
	margin-left: 0;
}
.register_account{
	padding:3% 0;
}
.register_account form input[type="text"], .register_account form select {
	font-size: 0.8125em;
	color: #999;
	padding: 8px;
	outline: none;
	margin: 10px 0;
	width: 95%;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #f0f0f0;
}
.register_account form input[type="text"]:hover, .register_account form select:hover{
	border:1px solid #DBDADA;
}
button.grey {
	background: #555;
	color: #FFF;
	/* font-size: 0.8em; */
	padding: 8px 20px;
	/* border-radius: 5px; */
	border-bottom: 4px solid #1D1C1C;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	border-right: none;
	border-left: none;
	border-top: none;
	float:left;
}
button.grey:hover{
	background:#FFAF02;
	border-bottom: 4px solid #DF9A06;
}
p.terms {
	float: left;
	font-size: 12px;
	padding: 15px 0 0 15px;
}
p.terms a, p.note a {
	text-decoration: underline;
	color: #555;
}
p.terms a:hover, p.note a:hover{
	text-decoration:none;
}
.register_account form input[type="text"].code {
	width: 15%;
}
.register_account form input[type="text"].number {
	width:74.8%;
}
p.code {
	color:#999;
	font-size:0.8125em;
}
.account {
	background: rgb(255, 255, 255);
	padding: 7em 0em 4em;
}
/*--checkout--*/
p.cart {
	color:#999;
	font-size:0.8125em;
	line-height:1.8em;
}
p.cart a {
	text-decoration: underline;
	color: #000;
}
p.cart a:hover {
	text-decoration: none;
}
.check-out {
	background: #fff;
	padding: 4em 0em;
}
/*  GRID OF FOUR   ================================================ */
.main {
background: #fff;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}

.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */

.col_1_of_4.span_1_of_4 ul {
	list-style-type: none;
	padding:0;
	margin:1em 0em;
}	
.span_1_of_4  h3{
	color: #5A0F16;
	margin-bottom: 0.5em;
	font-size: 2em;
	font-weight:600;
	text-align:center;
}
.menu_list{
	padding:7em 0em;
	background:#fff;
}
.menu_list img{
	border-radius:.5em;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	-o-border-radius:.5em;
}
.menu_list li a{
	color:#FB6193;
	font-size:1em;
	display:block;
	padding:10px 0;	
	clear:both;
	line-height:1.8em;
}
.menu_list li a:hover{
	color:#554E3B;
}
.menu_list li a span.item_name{
	float:left;
}
.menu_list li a span.price{
	float:right;
	margin-right:2.5em;
}
/* start details */
.cont{
	display: block;
	float:left;
}
.span_2_of_bottom1 {
	width:68.1%;
}
.lsidebar{
	display: block;
	float:right;
	margin-left:3.333%;
} 	
.span_2_of_bottom {
	width: 66.1%;
}
.span_1_of_bottom {
	width:25.1%;
	border: 1px solid #DDD;
}
.span_2_of_bottom p,
.span_1_of_bottom  p  {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #888;
	line-height: 1.5em;
}
.desc{
	padding:5%;
}
.desc h5 a{
	color:#C0313C;
	font-size: 0.788em;
}
.desc h5 a:hover{
	color:#333;
}
.button {
	border: none;
	background: #45A43E;
	color: #FEF503;
	float: right;
	padding: 7px 15px;
	font-size: 12px;
	cursor: pointer;
	outline: none;
	text-transform:uppercase;
}
.button:hover {
	background:#333;
}
.price-text{
	padding:5% 0;
}
.span_3_of_2 {
	width:56%;
}
.desc1 {
	display: block;
	float: right;
}
p.stock {
	display: block;
	font-size: 0.89em;
	color: #555;
	margin: 10px 0;
}
.row-2 {
	overflow: hidden;
	text-align: left;
	padding-top: 6px;
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
}
span.on_sale {
	display: block;
	float: left;
	padding: 15px 6px 0 30px;
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
	color: #777777;
}
.price1 {
	padding: 4% 0;
}
span.actual1 {
	text-decoration: line-through;
	margin-right: 8%;
	color: #888;
	font-size: 1.2em;
}
.images_3_of_2 {
	width:40%;
	float: left;
}
.single-bottom1 h6, .single-bottom2 h6 {
	background:#FF8DB2;
	padding: 10px;
	color: #333;
	font-size: 1.2em;
}
p.prod-desc {
	color: #888;
	padding-top: 2%;
	font-size: 0.89em;
	line-height: 1.5em;
}
.single-bottom1 {
	padding: 3% 0 4%;
}
.product {
	padding: 3% 0 0 0;
}
.product-desc {
	width: 82.3333%;
	float: left;
	border-width: 0 1px 0 0;
	border-right: 1px solid #DDD;
}
.product-img {
	width: 21.5%;
	float: left;
	margin-right: 2.5%;
}
.prod1-desc {
	width: 75.2%;
	float: left;
}
.product-desc h5 {
	padding-bottom: 2%;
}
.product-desc h5 a{
	color:#555;
	font-size:20px;
}
.product-desc h5 a:hover{
	color:#F00350;
	text-decoration:none;
}
p.product_descr {
	color: #555;
	font-size: 0.89em;
	line-height: 1.5em;
}
.product_price {
	width:15.3333%;
	float: left;
	padding: 0 0px 0px 16px;
}
.price-access {
	color: #ED1C24;
	font-size: 1em;
}
.button1 {
	font-family: 'Open Sans', sans-serif;
	border: none;
	padding: 7px 15px;
	color: #FFF;
	font-size: 13px;
	cursor: pointer;
	outline: none;
	margin-top: 9%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.desc1 h3{
	color:#333333;
	font-size:1.4em;
	text-transform:uppercase;
}
.desc1 p{
	margin-top: 2%;
	font-size: 1.8em;
	color: #ED1C24;
	line-height: 1.8em;
	-webkit-text-stroke: 1.5px;
	text-shadow: 0 1px 0 #ffffff;
	letter-spacing: 1px;
}
.desc1 p a{
	margin-left:5px;
	color:#555555;
	text-transform:uppercase;
	font-size: 13px;
	-webkit-text-stroke: 0px;
	letter-spacing: 0px;
}
.desc1 p a:hover{
	color: #00405d;
}
.det_nav {
	margin:  6% 0;
}
.det_nav ul{
	padding:0;
	list-style:none;
}
.det_nav h4{
	line-height:1.8em;
	font-size: 1em;
	color: #555555;
	text-transform:uppercase;
	margin-bottom: 4%;
}
.det_nav ul li{
	display:inline-block;
	width: 20.33333%;
	margin-left: 4%;
}
.det_nav ul li:first-child{
	margin-left: 0;
}
.det_nav ul li a{
	display:block;
}
.det_nav ul li a img{
	border: 1px solid #DADADA;
}
.btn_form{
	margin: 3% 0 4%;
}
.btn_form a{
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	border:none;
	outline:none;
	display: inline-block;
	font-size: 1em;
	padding: 10px 34px;
	background:#5A0F16;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_form a:hover{
	background: #FF3E91;
	text-decoration:none;
}
.desc1  a span{
	font-size:0.8125em;
	color:#555555;
	text-transform:uppercase;
	text-decoration:underline;
}
.desc1 a span:hover{
	color: #00405d;
	text-decoration:none;
}
.det_nav1 h4{
	font-size: 1em;
	text-transform:uppercase;
	color: #555;
	margin-bottom: 6%;
}
.det_nav1 ul li{
	display: inline-block;
	margin-left: 10px;
}
.det_nav1 ul li:first-child{
	margin-left: 0;
}
.details {
	background: #EDE0E4;
	padding: 6em 0em 5em;
}
.det_nav1 ul{
	padding:0;
}
/* end details */
.product_container{
	padding:1em 2em 1em;
}
.product_container p{
	color:#000;
}
.span_1_of_3 a:hover{
	text-decoration:none;
}	
p.price1{
	margin-top:10px;
}	
h3.m_1{
	font-size:1.5em;
	font-weight: 800;
	text-transform:uppercase;
}
.block .block-subtitle {
	font-size: 1.3em;
	color: #2d2328;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: 600;
}
.block-layered-nav dd li .price {
	font-weight: normal;
}
.block-layered-nav dd {
	padding: 10px 0 10px 19px;
	margin-bottom: 15px;
}
.block-layered-nav dd li a{
	font-size:0.85em;
}
.block-layered-nav dd li {
	color: #f12a2d;
	padding: 0 0 3px;
}
.block-layered-nav dt {
	border-top: 1px solid #FF88BF;
	font-weight: bold;
	padding-top: 15px;
	color: #000;
}
.block-layered-nav dd.odd.last {
	padding-bottom: 0;
	margin-bottom: 0;
}
.tags {
	list-style: none;
	margin-top: 2em;
}
h4.tag_head {
	color: #333;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 1em;
}
ul.tags_links {
	padding: 0;
	list-style: none;
}
ul.tags_links li {
	display: inline-block;
	margin: 8px 3px;
}
ul.tags_links li a {
	color: #333;
	font-size: 0.8125em;
	background:#f0f0f0;
	padding: 5px 10px;
}
ul.tags_links li a:hover{
	background: #e4411b;
	text-decoration:none;
	color:#fff;
}
.link1 {
	font-size: 0.85em;
	line-height: 18px;
	color: #333;
	font-weight: bold;
	padding-right: 20px;
	margin-top: 1.5em;
	display: inline-block;
}
.dreamcrub {
	margin-bottom:3em;
	padding:0.5em;
	border: 1px solid #ddd;
}
/*--responsive design--*/
@media (max-width:1280px){
.top-header-right ul li a {
	padding: 0 0.3em;
}
.logo {
	left: 36.8%;
}
.head-nav ul li:nth-child(3) {
	margin-left: 45.5%;
}
.head-nav ul  li a {
	font-size: 1.1em;
	margin: 1.23em 1em;
}
.slider-caption-left h1 {
	font-size: 2em; 
}
.callbacks_nav {
	top: 23%;
	left: -7%;
}
.callbacks_nav.next {
	right: -7.5%;
}
.slider-caption-left p {
	margin: 2em auto 2em;
}
.share-on-grid {
	width: 21%;
}
.callbacks_tabs {
	left: 43%;
}
i.fb {
	left: 116px;
}
i.twt {
	left: 128px;
}
.biseller-info h3 {
	font-size: 20px;
}
.menu_list li a {
	font-size: 0.875em;
}
.menu_list li a span.price {
	margin-right: 1.5em;
}
}
/*--responsive design--*/
@media (max-width:1024px){
.callbacks_nav.next {
	right: -8%;
}
.img-slider {
	margin: 1.8em 2em;
}
.callbacks_nav {
	top: 22%;
	left: -7.5%;
}
.share-on-grid {
	width: 23%;
}
.slider-caption-left {
	margin-top: 4em;
}
.slider-caption-left h1 {
	font-size: 1.7em;
}
.slider-caption-left p {
	font-size: 1.2em;
}
.callbacks_tabs {
	left: 45%;
}
.top-grid-head h3 {
	font-size: 1.5em;
}
.top-grid-info p {
	font-size: 0.9em;
}
i.fb {
	left: 110px;
}
i.twt {
	left: 123px;
}
.logo {
	left: 35.4%;
}
.biseller-info h2 {
	font-size: 2em;
}
.biseller-info h3 {
	font-size: 17px;
}
.biseller-name h4 {
	font-size: 1.2em;
}
.about h3 {
	font-size: 2em;
}
.content h2 {
	font-size: 2em;
}
.contact_info h3 {
	font-size: 1.5em;
}
.span_2_of_3 h3, .span_1_of_3 h3 {
	font-size: 1.4em;
}
.company_address p {
	font-size: 0.9em;
}
.register-top-grid h3, .register-bottom-grid h3 {
	font-size: 1em;
}
.login-left h3, .login-right h3 {
	font-size: 1em;
}
h4.title {
	font-size: 1em;
}
.span_1_of_4 h3 {
	font-size: 1.5em;
}
.span_3_of_2 {
	width: 52.3333%;
}
.desc1 h3 {
	font-size: 1.3em;
}
.block .block-subtitle {
	font-size: 1.2em;
}
.button1 {
	padding: 7px 12px;
}
.images_3_of_2 {
    width: 44%;
	}
}
@media (max-width:991px){
	.span_3_of_2 {
		width: 53%;
	}
}
/*--responsive design--*/
@media (max-width:768px){
.top-header-left ul li a {
	font-size: 1em;
	margin: 0 1em 0 0em;
}
.top-header-left {
	width: 35%;
}
.top-header-right ul {
	padding: 0;
}
.top-header-right {
	width: 46%;
}
.top-header-center {
	width: 18%;
}
.head-nav ul li{
	display:block;
	float:none;
}
.head-nav ul li a {
	border-right: none;
	border-bottom: none;
	background: #5A0F16;
	color: #ffffff;
}
.head-nav ul{
	position: absolute;
	margin: 0;
	padding: 2% 0;
	z-index: 999;
	width: 92%;
	display: none;
	text-align: center;
	left:2em;
	top:0em;
}
.head-nav span.menu{
	display:block;
	background:none;
	position:absolute;
	top:22px;
	left:14px;
	cursor:pointer;
}	
.head-nav span.menu:before{
	content:url(../images/menu.png);
	color:#FFF;
	font-size:1.3em;
	text-transform:uppercase;
	text-align:right;
	padding:0.5em 0.3em;
	cursor:pointer;
}
.head-nav ul li a {
	text-decoration: none;
	font-size: 1.2em;
	padding: 0.5em 0.3em;
}
.head-nav{
	background:none;
}
.head-nav ul li a:hover, .head-nav ul li.active a {
	border-bottom:none;
	color:#f84f86;
}
.head-nav ul li:nth-child(3) {
	margin-left: 0;
}
.head-nav ul li a {
	font-size: 1.1em;
	margin: 0 1em;
}
.main-menu {
	padding-top: 4em;
}
.logo {
	left: 36%;
	top: 8px;
}
.logo img {
	width: 75%;
}
.callbacks_nav {
	top: 18%;
	left: -8%;
}
.callbacks_nav.next {
	right: -9%;
}
.slider-caption-left h1 {
	font-size: 1.2em;
}
.slider-caption-left p {
	font-size: 1em;
}
.slider-caption-left p {
	margin: 1em auto 1em;
}
a.buy-btn{
	font-size:1em;
}
.callbacks_tabs {
	left: 41%;
}
.share-on-grid {
	width: 30%;
}
.share-on-grid-left h3 {
	font-size: 1.2em;
	margin-top:0.2em;
}
.top-header-right ul li a {
	font-size: 1em;
}
.top-grid-info img {
	width: 50%;
	margin: 0 auto;
}
.top-grid {
	margin: 3em 0em;
}
.slider-caption-right img {
	width: 80%;
}
.img-slider {
	margin: 1.8em 3em;
}
.bottom-grids {
	padding: 2em 0;
}
.bottom-grid-left-grid.text-center {
	margin: 0em 0em 2em;
}
.bottom-grid-left {
	margin: 0 auto;
}
.bottom-grid-right {
	width: 64.7%;
	margin: 0 auto;
	margin-top: 6em;
}
a.order {
	bottom: -57px;
}
span.best-sale {
	left: 31%;
}
.location {
	margin: 0em 0em 2em;
}
.customer {
	margin: 0 0 2em;
}
.social {
	margin:0em 0em 3em;
}
i.fb {
	left: 354px;
}
i.twt {
	left: 369px;
}
.footer-bottom p {
	font-size: 1em;
}
.about p {
	font-size: 0.875em;
}
.about a {
	font-size: 1.2em;
}
.biseller-info h3 {
	width: 21%;
}
.best-seller {
	padding: 0em 0em 0em;
}
.biseller-info h2 {
	font-size: 1.7em;
}
.veiw-img-mark a {
	font-size: 0.8125em;
}
.footer {
	padding: 1em 0em 0em;
}
.footer-bottom p {
	font-size: 0.875em;
	text-align: center;
}
.footer h4 {
	font-size: 0.9em;
}
.location p {
	font-size: 0.875em;
}
.customer h6 {
	font-size: 0.875em;
}
.col_1_of_4:first-child {
	text-align: center;
}
.menu_list li a span.price {
	margin-right: 33.5em;
}
.span_1_of_4 {
	text-align: center;
}
.about h3 {
	font-size: 1.7em;
}
.about {
	padding: 0em 0em 3em;
}
.content h2 {
	font-size: 1.7em;
}
.contact_info h3 {
	font-size: 1.3em;
}
.span_2_of_3 h3, .span_1_of_3 h3 {
	font-size: 1.3em;
}
.main-content {
	padding: 1em 0em 0em;
}
.main-content {
	padding: 1em 0em 0em;
}
.register-top-grid h3, .register-bottom-grid h3 {
	font-size: 0.875em;
}
.checkbox {
	font-size: 0.8125em;
}
.register-top-grid span, .register-bottom-grid span {
	font-size: 0.8125em;
}
.register-but form input[type="submit"] {
	font-size: 1em;
}
.acount-btn {
	font-size: 0.875em;
}
.login-right {
	margin: 3em 0em 0em;
}
.login-page {
	padding: 3em 0;
}
.login-right input[type="submit"] {
	font-size: 0.875em;
	padding: 0.5em 1.2em;
}
.slider-caption-left {
	margin-top: 4em;
}
.share-on-grid {
	width: 35%;
}
.callbacks_tabs {
	left: 35%;
}
.share-on {
	padding: 0.3em 1em 0.3em;
}
.callbacks_nav {
	background-size: 7em;
}
.top-grid-head {
	width: 70%;
	margin: 0 auto;
}
.top-grid-info {
	width: 70%;
	margin: 0 auto;
}
.callbacks_nav {
	width: 47px;
}
.span_1_of_4 {
	margin: 0em 0em 4em;
}
.menu_list {
	padding: 3em 0em 0em;
}
.main-menu {
	margin-top: 0em;
}
.footer {
	text-align: center;
}
.bottom-grid-left-grid.text-center {
	width: 50%;
	float: left;
	padding:0;
}
.bottom-grid-left {
	width: 100%;
}
.desc1 h3 {
	font-size: 1.2em;
}
.desc1 p {
font-size: 1.5em;
}
.single_left {
	margin-top: 2em;
}
.block .block-subtitle {
	font-size: 1.1em;
}
h4.tag_head {
	font-size: 1.1em;
}
}
/*--responsive design--*/
@media (max-width:640px){
.logo img {
	width: 60%;
}
.callbacks_nav {
	width: 50px;
}
.slider-caption-left h1 {
	margin: 0em 0em 2em;
}
.slider-caption-left p{
	display:none;
}
.top-header-left ul li a {
	font-size: 0.875em;
	margin: 0px 14px 0 0em;
}
.top-header-left {
	width: 27%;
}
.top-header-center p {
	font-size: 0.875em;
}
.top-header-right {
	width: 52%;
}
.top-header-center {
	width: 21%;
	margin-top:0.2em;
}
.top-header-right ul li a {
	font-size: 0.875em;
}
.callbacks_tabs a:after {
  height:13px;
  width:13px;
}
.callbacks_tabs {
	left: 40%;
	bottom: 17px;
}
.top-grid-head h3 {
	font-size: 1.3em;
}
.top-grid-head {
	width: 60%;
	margin: 0 auto;
}
.top-grid-info {
	width: 60%;
	margin: 0 auto;
}
.top-grid-info span {
	font-size: 1.3em;
}
a.btn{
	font-size:0.875em;
}
.top-grid-info p {
	font-size: 0.875em;
}
.bottom-grid-right h3 {
	font-size: 20px;
}
.biseller-info h3 {
	width: 24%;
}
.biseller-info h3 {
	font-size: 15px;
}
.biseller-name h4 {
	font-size: 1em;
}
.biseller-name p {
	font-size: 1em;
}
button.add2cart span {
	font-size: 14px;
}
.menu_list li a span.price {
	margin-right: 26.5em;
}
i.fb {
	left: 294px;
}
i.twt {
	left: 306px;
}
.span_3_of_2 {
	width: 44.3333%;
}
.desc1 h3 {
	font-size: 1.1em;
}
.desc1 p {
	font-size: 1.3em;
}
.det_nav h4 {
	font-size: 0.9em;
}
.det_nav1 h4 {
	font-size: 0.9em;
}
.btn_form a {
	font-size: 0.9em;
	padding: 7px 30px;
}
.single-bottom1 h6, .single-bottom2 h6 {
	font-size: 1.1em;
}
.product-desc h5 {
	padding-bottom: 0%;
}
.product-desc h5 a {
	font-size: 18px;
}
.button1 {
	padding: 7px 5px;
	font-size: 12px;
}
.price-access {
	font-size: 0.9em;
}
.block .block-subtitle {
	font-size: 1em;
}
h4.tag_head {
	font-size: 1em;
}
.span_3_of_2 {
    width: 52%;
}
.det_nav ul li {
    display: inline-block;
    width: 23%;
    margin-left: 0%;
}
}
/*--responsive design--*/
@media (max-width:480px){
.top-header-right ul li a {
	padding: 0em 1.5em;
}
.top-header-left {
	width: 21%;
}
.top-header-center {
	width: 27%;
}
.top-header-right ul li {
	margin-left: 1.5em;
}
.top-header {
	padding: 6px;
}
.logo img {
	width: 55%;
}
.callbacks_nav.next {
	background-size: 5em;
	width: 38px;
	height:149px;
	right: -14%;
}
.callbacks_nav {
	width: 38px;
	background-size: 5em;
	height: 149px;
	top:10%;
	left:-13%;
}
.logo {
	left: 32%;
	top: 9px;
}
.share-on-grid {
	width: 55%;
}
.share-on-grid-left h3 {
	font-size: 0.875em;
	margin-top: 0.3em;
}
.slider-caption-right {
	margin-top: 1em;
}
.slider-caption-left {
	margin-top: 2em;
}
.slider-caption-left h1 {
	font-size: 0.750em;
	margin:0em 0em 1em;
}
a.buy-btn {
	font-size: 0.750em;
}
.callbacks_tabs {
	left: 4%;
	bottom: 13px;
}
.share-on {
	height: 38px;
}
.top-grid-info {
	width: 70%;
}
.top-grid-head {
	width: 70%;
}
.top-grid-info p {
	font-size: 0.8125em;
}
a.btn {
	font-size: 0.8125em;
}
.top-grid-head h3 {
	font-size: 1.1em;
}
.bottom-grid-right h3 {
	font-size: 18px;
}
.biseller-info h2 {
	font-size: 1.5em;
}
.biseller-info h3 {
	width: 30%;
	font-size:14px;
}
.menu_list li a span.price {
	margin-right: 14.5em;
}
.span_1_of_4 h3 {
	font-size: 1.3em;
}
.about h3 {
	font-size: 1.5em;
}
.about a {
	font-size: 1em;
}
.head-nav span.menu {
	top: -41px;
	left:111px;
}
.content h2 {
	font-size: 1.5em;
}
.contact_info h3 {
	font-size: 1.2em;
}
.span_1_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 100%;
}
.span_2_of_3 h3, .span_1_of_3 h3 {
	font-size: 1.2em;
}
.contact-form input[type="submit"] {
	font-size: 1em;
}
.company_address p {
	font-size: 0.875em;
}
.footer h4 {
	font-size: 0.875em;
}
.img-slider {
	margin: 1em 3em;
}
i.fb {
	left: 210px;
}
i.twt {
	left: 223px;
}
.images_3_of_2 {
	width: 100%;
	float: none;
	margin-right: 0%;
	text-align: center;
}
.span_3_of_2 {
	width: 100%;
}
.desc1 h3 {
	font-size: 1em;
}
.desc1 p {
	font-size: 1.2em;
}
.single-bottom1 h6, .single-bottom2 h6 {
	font-size: 1em;
}
p.prod-desc {
	font-size: 0.875em;
}
.product-desc h5 a {
	font-size: 17px;
}
.product_price {
	width: 100%;
	float: none;
	padding: 0 0px 0px 16px;
}
p.product_descr {
	font-size: 0.8125em;
}
.details {
	background: #EDE0E4;
	padding: 4em 0em 2em;
}
.imagezoom-cursor,.imagezoom-view{
display:none;
}
.det_nav ul li {
    width: 24%;
	}
}
@media (max-width:414px){
.top-header-right li form input[type="text"] {
    width: 100%;
}
.desc1 h3 {
    font-size: .9em;
}

	.top-header-right ul li {
		margin-left: 0em;
	}
}
/*--responsive design--*/
@media (max-width:320px){
.img-slider {
	margin: 2em 1em 0;
}
.top-header-left ul li a {
	font-size: 0.8125em;
	margin: 0px 18px 0 0em;
}
.top-header-left {
	width: 62%;
}
.top-header-center {
	width: 38%;
}
.top-header-right ul li {
	margin-left: 0.5em;
}
.top-header-right li form input[type="text"] {
	padding: 0.4em 0em;
}
.top-header-right ul li {
	margin-left: 0.5em;
}
.top-header-right ul li a {
	font-size: 0.8125em;
	padding:0 0.5em;
}
.head-nav span.menu {
	top: -36px;
	left: 246px;
}
.callbacks_nav.next {
	background-size: 4em;
	width: 28px;
	height: 121px;
	right: -16%;
}
.callbacks_nav {
	width: 28px;
	background-size: 4em;
	height: 121px;
	top: 7%;
	left: -15%;
}
.slider-caption-right {
	margin-top: 0.5em;
}
.slider-caption-left {
	margin-top: 1em;
}
.slider-caption-left h1 {
	font-size: 0.5125em;
}
a.buy-btn {
	font-size: 0.550em;
}
.callbacks_tabs {
	left: 0%;
	bottom: 13px;
}
.share-on-grid-left h3 {
	font-size: 0.8125em;
	margin-top: 0.3em;
}
.share-on-grid {
	width: 67%;
}
.share-on-grid-right a span {
	width: 24px;
	height: 28px;
}
.callbacks_tabs a:after {
	 width:9px;
	 height:9px;
}
.callbacks_tabs {
	left: 0%;
	bottom: 17px;
}
.share-on-grid-right a span.facebook {
	background-position: 4px -2px;
	background-size:3em;
}
.share-on-grid-right a span.twitter {
	background-position: -28px -1px;
	margin: 0 0.5em;
	background-size: 3em;
}
.share-on-grid-right {
	float: right;
	margin: 3px 0 0;
}
.top-grid-head {
	width: 98%;
	background-size: 15em;
	min-height: 104px;
}
.top-grid-info {
	width: 98%;
}
.top-grid-head h3 {
	font-size: 1em;
}
.top-grid-info p {
	font-size: 0.8em;
}
.top-grid-info span {
	font-size: 1.1em;
}
a.btn {
	font-size: 0.750em;
}
span.best-sale {
	left: 0%;
	top:-20px;
	font-size:0.875em;
}
.bottom-grid-left-grid p {
	font-size: 0.875em;
}
.bottom-grid-right {
	width: 100%;
}
.bottom-grid-right h3 {
	font-size: 16px;
}
.bottom-grid-right p {
	font-size: 0.8125em;
}
.biseller-info h2 {
	font-size: 1.3em;
	padding:0;
}
.biseller-info h3 {
	width: 44%;
	font-size: 13px;
}
.veiw-img-mark a {
	font-size: 0.750em;
}
.span_1_of_4 h3 {
	font-size: 1.1em;
}
.menu_list li a span.price {
	margin-right: 3.5em;
}
.col_1_of_4.span_1_of_4 ul {
	padding: 0;
	margin: 0em 0em;
}
.menu_list li a {
	line-height: 1.2em;
}
.about h3 {
	font-size: 1.3em;
}
.about p {
	font-size: 0.8125em;
}
.about a {
	font-size: 0.875em;
}
.register {
	padding: 3em 0 2em 0;
}
.register-top-grid span, .register-bottom-grid span {
	font-size: 0.750em;
}
.register-but form input[type="submit"] {
	font-size: 0.875em;
}
.head-nav ul {
	left: 1em;
	top: -6px;
}
.head-nav ul li a {
	font-size: 0.875em;
}
.account {
	padding: 4em 0em 2em;
}
.span_1_of_account {
	width: 100%;
}
h4.title {
	font-size: 0.9em;
}
.col_1_of_account:first-child {
	margin: 0em 0em 2em;
}
.contact_info h3 {
	font-size: 1em;
}
.span_1_of_3 h3 {
	font-size: 1em;
}
.company_address p {
	font-size: 0.8125em;
}
.content h2 {
	font-size: 1.3em;
}
.content h2 {
	padding: 0em 0 0em;
}
.main-content {
	padding: 0em 0em 0em;
}
.span_2_of_3 h3, .span_1_of_3 h3 {
	font-size: 1em;
}
.location p {
	font-size: 0.8125em;
}
.customer h6 {
	font-size: 0.8125em;
}
.checkbox {
	font-size: 0.750em;
}
.register-but form input[type="submit"] {
	font-size: 0.8125em;
}
.login-left h3, .login-right h3 {
	font-size: 0.875em;
}
.login-left p, .login-right p {
	font-size: 0.8125em;
}
.acount-btn {
	font-size: 0.8125em;
}
.login-right input[type="submit"] {
	font-size: 0.8125em;
}
.check-out {
	padding: 4em 0em 2em;
}
.button1 input[type="submit"] {
	font-size: 0.8125em;
}
.comments-area input[type="submit"] {
	font-size: 0.8125em;
}
.comments-area input[type="submit"] {
	font-size: 0.8125em;
	margin-right: 1em;
}
.main-menu {
	padding-top: 3.5em;
}
i.fb {
	left: 132px;
}
i.twt {
	left: 145px;
}
.top-header-right li form input[type="submit"] {
	right: 6px;
	top: 6px;
}
.bottom-grid-left-grid h4 {
	font-size: 0.750em;
}
.logo {
	left: 21%;
	top: 9px;
}
.logo img {
	width: 76%;
}
.top-header-right li form input[type="text"] {
	display: none;
}
.top-header-right li form input[type="submit"] {
	display: none;
}
.biseller-info {
	padding: 50px 0 20px 0;
}
.top-header-center p span.cart {
	background-size: 80%;
	margin-bottom: -3px;
}
.top-header-center p {
	font-size: 0.8125em;
}
.content {
	padding: 50px 0 0 0;
}
.about {
	padding: 1em 0em 3em;
}
.desc1 p {
	font-size: 1.1em;
}
p.prod-desc {
	font-size: 0.8125em;
}
.prod1-desc {
	width: 70.2%;
	float: left;
}
.product-img {
	width: 24.5%;
	float: left;
	margin-right: 2.5%;
}
.product-desc {
	width: 100%;
	float: left;
}
.product_price {
	width: 52%;
	float: right;
	padding: 0 0px 0px 16px;
}
.product {
padding: 3% 0 4% 0;
}
.det_nav ul li {
    width: 23%;
}

.cart_wrap{
	padding: 70px 0 0;
}
}


.cart_wrap{
	padding-top: 70px;
}
.cart_qunt{
	width: 50px;
	background: rgba(10%,10%,10%,0.1);
}

.single_prod{
	width: 40%;
	float: left;
	padding: 0 15px 15px 0;
}
.single_prod img{
	width: 100%;
}

.prod_dtls{
	width: 28%;
	float: left;
	padding: 0 10px 15px 0;
}

.prod_custom{
	width: 28%;
	float: left;
	padding: 0 0px 15px 10px;
}
.prod_dtls2{
	width: 20%;
	float: left;
	padding: 0 10px 15px 0;
}

.prod_custom2{
	width: 28%;
	padding: 0 0px 15px 10px;
}

.single_prod2{
	width: 30%;
	float: left;
	padding: 0 15px 15px 0;
}

.prod_custom{}
.prod_custom section{ padding-bottom: 15px; }
.prod_custom label{ width: 100%; }
.prod_custom label h5{ margin: 0; text-transform: uppercase; }
.prod_custom select{ width: 100%; }



/* order_wrap */
.wrap.cat_wrap,
.container.order_wrap{ padding-top: 70px; }
.delivery_info{ background: #ff93c0; padding: 0 15px 15px; border-radius: 10px; overflow: hidden;}
.delivery_info h3{ background: #fe70ac; margin-left: -15px; margin-right: -15px; padding: 3px 15px; line-height: 32px; }
.delivery_info select,
.delivery_info input[type="date"],
.delivery_info input[type="time"],
.delivery_info input[type="number"],
.delivery_info input[type="text"],
.delivery_info label{ width: 100% !important; }
.delivery_info input[type="time"]{ text-align: center; }
.delivery_info input[type="date"]{ line-height: 20px; }

.delivery_info label{ margin: 15px 0 3px; }


.flexslider{ margin: 0 !important }



